<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%= webpackConfig.metadata.title %></title>

	<meta name="description" content="<%= webpackConfig.metadata.title %>">

	<% if (webpackConfig.htmlElements.headTags) { %>
	<%= webpackConfig.htmlElements.headTags %>
	<% } %>

	<base href="<%= webpackConfig.metadata.baseUrl %>">

	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">

</head>

<body>

<app>
	<div style="display: table; margin: 0 auto;"><img src="assets/img/spinner.gif"></div>
</app>

<% if (webpackConfig.metadata.isDevServer) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>


</body>
</html>
